/* universal styles */


body {
  color:white;
}

/* header */

header {
  display: flex;
  justify-content: space-around;
  height: 60px;
  position: fixed;
  background-color: #181A1C;
  width: 100%;
  top: 0;          /* Sticks it to the top of the viewport */
  left: 0;         /* Aligns it to the left edge */
  z-index: 1000; /* Ensures it stays above other elements */
}

.header-img-div img{
  height: 3rem;
  width: auto;
}



header ul {
  display: flex;
}

header ul li {
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
  border-right: 1px solid gray;
  align-items: center;
}

header ul li:nth-of-type(6) {
  border: none;
}

header a {
  text-decoration: none;
  color: gray;
}


/* footer */
footer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #202123;
  overflow: hidden;
}

.footer a {
  text-decoration: none;
}

.footer-nav {
  
  display: flex;
  justify-content: center;

}

.footer-nav-container{
  display: flex;
  flex-direction: row;
  }

.footer-nav ul {
  padding-right: 5%;
}

.footer-nav a {
  text-decoration: none;
  color: white;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav ul:last-child {
  flex-direction: column;
}

.footer-nav ul li {
  list-style-type: none;
  margin-top: 5px;
}

.footer-nav ul li:first-of-type{
  padding-bottom: 10px;
}

.footer-logos {
  display: flex;
  flex-direction: row;
}

.footer-logos img {
  height: 40px;
  padding-right: 10px;
  align-items:center;

}

.footer-logos img:hover {
  cursor: pointer;
}

.footer-logos div {
  display:flex;
  align-items: center;
}
.footer-logos img:nth-of-type(1){
  height: 70px;
  padding-right: 0px;
}

.footer-trademark {
  display: flex;
  justify-content: center;
}

html, body, header, footer, main {
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 2000px) {
  
}

@media (max-width: 1440px) {


}

@media (max-width: 1024px) {

  .header-ul {
    font-size: 1rem;
  }
  footer{
    padding-bottom: 5%;
  }

}

@media (max-width: 768px) {
  header img{
    height: 2rem;
    margin-top: 1.1%;
  }
  .header-ul li{
    font-size: 0.6rem;
  }

  footer{
    padding-top: 5%;
    padding-bottom: 1%;
    font-size: 1rem;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
  }
  .footer-nav-container{
    display: flex;
    flex-direction: row;
  }

}
@media (max-width: 425px) {
  header img{
    height: 1.2rem;
    margin-top: 4.2%;
    margin-left: -3%;
  }
  .header-ul {
    margin-left: -10%;
    width: 70%;
  }
  .header-ul li{
    font-size: 0.5rem;
    padding: 0 2%;
  }
  footer{
    padding-top: 5%;
    padding-bottom: 1%;
    font-size: 0.8rem;
  }
  
}



