main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

p {
  white-space: pre-line;
}

a { 
  text-decoration: none;
  color:white;
}

.news-main {
  width: 60%;
}
.news-section {
  border-top: 1px solid gray;
  padding: 50px 0px;
}

.news-top:hover {
  background-color: #171C1D;
}
.news-top,
.news-bottom {
  display: flex;
  flex-direction: row;
  
}

.news-top p:nth-of-type(1),
.news-bottom p:nth-of-type(1) {
  width: 30%;
}

.news-top p:nth-of-type(2),
.news-bottom p:nth-of-type(2) {
  width: 70%;
}

.news-top p,
.news-bottom p {
  margin: 0px 20px;
}

.news-bottom a {
  color: #d70921;
}

/* Media Queries */

@media (min-width: 480px) {

}

@media (min-width: 768px) {


}


@media (min-width: 1024px) {


}

@media (min-width: 1440px) {


}


@media (min-width: 1920px) {

}

@media (min-width: 2000px) {

}
